{{#partial "customCSS"}}
{{/partial}}


<!-- Page Title -->
{{#partial "pageTitle"}}
  <title>Rescate Patitas | Features Panel</title>
{{/partial}}

{{#partial "content"}}
  <main class="container mt-auto overflow-auto">
    <div class="container-patitas bg-light">
      <div class="container mb-3">
        <h1 class="h1">Panel de Caracteristicas</h1>
      </div>
      <div class="container">
        <table class="table table-light table-hover table-responsive">
          <thead>
            <tr>
              <th scope="col">Feature</th>
              <th scope="col" />
              <th scope="col" />
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>

            <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>


                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>


                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>

            <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>

                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>

                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>

                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>


                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>


                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>

                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>


                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>

                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>            <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
                        <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>            <tr>
              <td><input class="form-control" type="text" value="Una caraceristica" /></td>
              <td class="text-center">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>


            <tr>
              <form class="form-horizontal">
                <td>
                  <div class="form-floating">
                    <input
                      name="password"
                      type="text"
                      class="form-control"
                      id="newFeature"
                      placeholder="New Feature"
                      required="true"
                    />
                    <label for="newFeature">Add a new feature...</label>
                  </div>
                </td>
                <td class="text-center" />
                <td class="text-center">
                  <button class="btn btn-primary mt-2">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </td>
              </form>
            </tr>
        </tbody>
      </table>
      </div>
    </div>
  </main>
{{/partial}}

{{> layout/LAYOUT-navbar.html.hbs }}
