{{#partial "customCSS"}}
{{/partial}}


<!-- Page Title -->
{{#partial "pageTitle"}}
  <title>Rescate Patitas</title>
{{/partial}}

{{#partial "content"}}
    <!-- ======= Hero Section ======= -->
    <main id="hero" class="container">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6 mx-auto">
            <img
              src="https://www.dropbox.com/s/25lk5ur2qvxms7o/AppLandingPage.png?raw=1"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
              {{i18n.homeHeroTitle}}
            </h1>
            <p class="lead">
              {{i18n.lorem}}
            </p>
            <div class="">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"  onclick="location.href='/login';">
                Log In
              </button>
              <button type="button" class="btn btn-outline-primary btn-lg px-4">
                About
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
{{/partial}}

{{> layout/LAYOUT-navbar.html.hbs }}
